<p>Edit</p>

<%= form_with model: @furniture, local: true do |form| %>
 
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :description %>      
      <p>(A lengthy description for the target item.)</p>
      <%= form.text_area :description %>
    </p>

    <p>
        <%= form.label :style %>
        <p>(Terse item description.)</p>
        <%= form.text_area :style %>
    </p>

    <p>
        <%= form.label :features %>
        <p>(Special things about the item.)</p>
        <%= form.text_area :features %>
    </p>

    <p>
        <%= form.label :materials %>
        <p>(Sepearte with commas)</p>
        <%= form.text_area :materials %>
    </p>

    <p>
        <%= form.label :care %>
        <br>
        <%= form.text_area :care %>
    </p>

    <p>
        <%= form.label :sku %>
        <br>
        <%= form.text_field :sku %>
    </p>

    <p>
    <%= form.label :category %>
    <br>
    <%= form.text_field :category %>
</p>

    <p>
        <%= form.label :weight %>
        <p>(In pounds.)</p>
        <%= form.number_field :weight %>
    </p>

    <p>
        <%= form.label :options %>
        <br>
        <%= check_box_tag(:options, "walnut") %>
        <%= label_tag(:walnut, "walnut") %>
        <%= check_box_tag(:options, "oak") %>
        <%= label_tag(:oak, "oak") %>
        <%= check_box_tag(:options, "birch") %>
        <%= label_tag(:birch, "birch") %>
        <%= check_box_tag(:options, "suffering") %>
        <%= label_tag(:suffering, "suffering") %>
    </p>

    <p>
      <%= form.submit %>
    </p>
   
  <% end %>

  <%= link_to 'Back', furnitures_path %>