<head>
<%= stylesheet_link_tag "admin" %>
</head>

<body>

<h1>Listing All Items</h1>
 

<%= link_to 'Add Another', new_furniture_path %>


  <% @furnitures.each do |furniture| %>
    <div>
      <div>
        <h2><%= furniture.name %><h2>
        <h3><%= furniture.sku %></h3>
        <h3><%= furniture.category %></h3>
      </div>
      <div>
        <h4><%= link_to 'More Details', furniture_path(furniture) %></h4>
        <h4><%= link_to 'Make Changes', edit_furniture_path(furniture) %></h4>
        <h4><%= link_to 'Delete Item', furniture_path(furniture),
                method: :delete,
                data: { confirm: 'Are you POSITIVE that you want to delete this?' } %></h4>
        </h4>
      </div>
    </div>
  <% end %>
  
  </body>

